openapi: 3.0.1
info:
  title: "Ecosyste.ms: Docker"
  description: "An open API service providing dependency metadata for docker images."
  contact:
    name: Ecosyste.ms
    email: support@ecosyste.ms
    url: https://ecosyste.ms 
  version: 1.0.0
  license:
    name: CC-BY-SA-4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
externalDocs:
  description: GitHub Repository
  url: https://github.com/ecosyste-ms/docker
servers:
- url: https://docker.ecosyste.ms/api/v1
paths:
  /packages:
    get:
      summary: get a list of packages
      operationId: getPackages
      tags:
        - packages
      parameters:
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
  /packages/{packageName}:
    get:
      summary: get a package by name
      operationId: getPackage
      tags:
        - packages
      parameters:
        - in: path
          name: packageName
          schema:
            type: string
          required: true
          description: name of package
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
  /packages/{packageName}/versions:
    get:
      summary: get a list of versions for a package
      operationId: getPackageVersions
      tags:
        - packages
      parameters:
        - in: path
          name: packageName
          schema:
            type: string
          required: true
          description: name of package
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: published_after
          in: query
          description: filter by published_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Version'
  /packages/{packageName}/versions/{versionNumber}:
    get:
      summary: get a version of a package
      operationId: getPackageVersion
      tags:
        - packages
      parameters:
        - in: path
          name: packageName
          schema:
            type: string
          required: true
          description: name of package
        - in: path
          name: versionNumber
          schema:
            type: string
          required: true
          description: number of version
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
  /usage:
    get:
      summary: "Get package usage ecosystems"
      operationId: "usage"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ecosystem'
  /usage/{ecosystem}:
    get:
      summary: "Get package usage for an ecosystem"
      operationId: "usageEcosystem"
      parameters:
        - name: ecosystem
          in: path
          description: "The ecosystem to get usage for"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageUsage'
  /usage/{ecosystem}/{package}:
    get:
      summary: "Get package usage for a package"
      operationId: "usagePackage"
      parameters:
        - name: ecosystem
          in: path
          description: "The ecosystem to get usage for"
          required: true
          schema:
            type: string
        - name: package
          in: path
          description: "The package to get usage for"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageUsage'
  /distros:
    get:
      summary: get a list of Linux distributions
      operationId: getDistros
      tags:
        - distros
      parameters:
        - name: page
          in: query
          description: pagination page number
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
        - name: query
          in: query
          description: search query for distro name or id
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Distro'
  /distros/{slug}:
    get:
      summary: get a Linux distribution by slug
      operationId: getDistro
      tags:
        - distros
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
          description: slug of distribution
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Distro'
  /distros/{slug}/versions:
    get:
      summary: get a list of versions for a Linux distribution
      operationId: getDistroVersions
      tags:
        - distros
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
          description: slug of distribution
        - name: page
          in: query
          description: pagination page number
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Version'
components:
  schemas:
    Package:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        versions_count:
          type: integer
        latest_release_published_at:
          type: string
          format: date-time
        latest_release_number:
          type: string
        last_synced_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        downloads:
          type: integer
        versions_url:
          type: string
    Version:
      type: object
      properties:
          number:
            type: string
          published_at:
            type: string
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
          purl:
            type: string
          distro:
            type: string
          version_url:
            type: string
          package:
            type: object
            properties:
              name:
                type: string
              package_url:
                type: string
          dependencies:
            type: array
            items:
              $ref: '#/components/schemas/Dependency'
    Dependency:
      type: object
      properties:
        ecosystem:
          type: string
        package_name:
          type: string
        requirements:
          type: string
    Ecosystem:
      type: object
      properties:
        name:
          type: string
        packages_count:
          type: integer
        total_downloads:
          type: integer
        ecosystem_url:
          type: string
    PackageUsage:
      type: object
      properties:
        ecosystem:
          type: string
        name:
          type: string
        dependents_count:
          type: integer
        requirements:
          type: object
        package_usage_url:
          type: string
        dependencies_url:
          type: string
    Distro:
      type: object
      properties:
        id:
          type: integer
        pretty_name:
          type: string
        name:
          type: string
        id_field:
          type: string
        id_like:
          type: string
        version_id:
          type: string
        version_codename:
          type: string
        variant:
          type: string
        variant_id:
          type: string
        slug:
          type: string
        versions_count:
          type: integer
        total_downloads:
          type: integer
        home_url:
          type: string
        support_url:
          type: string
        bug_report_url:
          type: string
        documentation_url:
          type: string
        logo:
          type: string
        ansi_color:
          type: string
        cpe_name:
          type: string
        build_id:
          type: string
        image_id:
          type: string
        image_version:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        url:
          type: string
        html_url:
          type: string