<% @meta_title = "Package Usage Across Docker Images" %>
<% @meta_description = "Explore the latest package usage data across Docker images, including detailed information on package dependencies and their usage." %>

<div class="container-sm">
  <h1>Package Usage Across Docker Images</h1>

  <p class='lead'>
    Explore the latest package usage data across Docker images, including detailed information on package dependencies and their usage.
  </p>

  <% @ecosystems.each do |ecosystem| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to ecosystem[:ecosystem], ecosystem_package_usages_path(ecosystem[:ecosystem]) %>
        </h5>
        
        <small class='text-muted'>
          <%= pluralize number_with_delimiter(ecosystem[:count]), 'package' %><br/>
          <%= pluralize number_with_delimiter(ecosystem[:downloads]), 'download' %> 
        </small>
      </div>
    </div>
  <% end %>
</div>